<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find teleco_ros)/cfg/bridge_mapping.yaml" />

  <node pkg="rosserial_python" name="serial_node" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ROVER_BOARD" />
    <param name="baud" value="115200" />
  </node>
</launch>
